body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}


#listaUsuarios {
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
  padding: 15px;

}

.usuario-card .card {
    background:#8e8b8b;
    display: flex;
    flex-wrap: wrap;

}

.usuario-card img {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    margin: 0 auto;
}

.info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}